<h1>Evaluations</h1>

<table id="t01">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
        </tr>
    </thead>
  
    <tbody>
        <% @allevaluations.each do |evaluation| %>
          <tr>
            <td><%= link_to evaluation.eid, "/admin/evaluations/view/#{evaluation.eid}" %></td>
            <td><%= evaluation.title %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br>
<%= link_to 'Add new evaluation', new_evaluation_path, :class=>"btn btn-primary btn-lg" %>