<div class="row">
 <div class="col-sm-12">
  <h1>Student Login</h1>
   <div>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
 </div>
 <div class="col-sm-12">
  <%= form_tag do%>
  <div class="form-group">
   <label for="uin">UIN:</label>
    <%= number_field_tag :uin %><br>
  </div>
  <div class="form-group">
   <button class="btn btn-primary" type="submit">Login</button>
   <a href="/students/register" class="btn btn-primary">Register</a>
  </div>
  <% end %>
 </div>
</div>
