<h1>CSCE120 Online Assessment</h1>
<p>
 Welcome to the CSCE 120 Self-Evaluation Exam - Determine whether freshmen are ready for the new CSCE 120 intro course
 <br>
 <%= link_to "For Students", :controller => "students", :action => "welcome"%>
 <br>
 <%= link_to "For Professor", controller: "admin", action: "login" %>
</p>
