<div class="row">
 <div class="col-sm-12">
  <h1>CSCE120 Online Assessment</h1>
 </div>
 <div class="col-sm-12">
  <p>
   Welcome to the CSCE 120 Self-Evaluation Exam. Take the exam to determine whether or not you are ready to take this course!
  </p>
 </div>
 <div class="col-sm-6">
  <a href="/students/welcome" class="btn btn-primary">For Students</a>
  <a href="/admin/login" class="btn btn-primary">For Professor</a>
 </div>
</div>