<h1>All Students</h1>
<p>
 The time is now: <%= Time.now %>
</p>


<%= text_area_tag :content, "<h1>Hello</h1>", :class => "tinymce", :rows => 40, :cols => 120 %>
<%= tinymce %>
<form><button name="submitbtn" value="Save"></button></form>