// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

h1{
    border-bottom: 1px solid Grey;
}

table#t01 th{
  border: 2px solid white;
  font-weight: bold;
  background-color: LightGrey;
}

table#t01 th, table#t01 td {
  padding: 4px;
  text-align: left;
}

tr#t01:nth-child(even) {
    background: #CCC;
}
tr#t01:nth-child(odd) {
    background: #FFF;
}
.btn {
    color: white;
    background-color: maroon;
}