// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family: "Segoe UI";
}

table#t01 th{
  border: 2px solid white;
  font-weight: bold;
  background-color: LightGrey;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    opacity: 0.3;
}

table#t01 th, table#t01 td {
  padding: 4px;
  text-align: left;
}

tr#t01:nth-child(even) {
    background: #CCC;
}
tr#t01:nth-child(odd) {
    background: #FFF;
}
.btn, .btn:focus, .btn:active {
    color: white;
    background-color: maroon;
    border-color: maroon;
}
.btn:hover{
    background-color: IndianRed;
}