.btn-primary {
    background-color: #500000;
    border-color: #707373;
}

.btn-primary:hover {
    background-color: #FFFFFF;
    color: #500000;
    border-color: #707373;
}

.navbar-default {
    background-color: #500000;
    .navbar-brand {
        color: #FFFFFF;
    }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #D6D3C4;
    color: #332C2C;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li:hover {
    background-color: #707373;
    color: #332C2C;
}

.margin-bottom {
    margin-bottom: 10px;
}

.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
    .icon-bar {
        background-color: #FFFFFF;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea,
input[type="text"],
input[type="number"] {
  border: 1px solid #cccccc;
  font-size: 16px;
}

.ellipsis {
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.break {
 word-wrap:break-word; /*old browsers*/
  overflow-wrap:break-word;
}